{% load static %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Tropilite Foods Pvt. Ltd.",
    "alternateName": "RCI",
    "url": "https://tropilitefoods.com/",
    "logo": "{% static 'front/assets/logo.png' %}",
    "sameAs": [
      "https://www.facebook.com/royalcanadianImmigration/",
      "https://www.linkedin.com/company/royalcanadianimmigration/"
    ]
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://tropilitefoods.com/",
    "logo": "{% static 'front/assets/logo.png' %}"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    "name": "Tropolite",
    "image": "{% static 'front/assets/logo.png' %}",
    "@id": "",
    "url": "https://tropilitefoods.com/",
    "telephone": "9057905662",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "2023 Williams Pkwy E, Unit 4, Brampton",
      "addressLocality": "ON",
      "addressRegion": "ON",
      "postalCode": "L6S5N1",
      "addressCountry": "CA"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 43.7572831,
      "longitude": -79.7028291
    }
  }
</script>
