{% load static %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{page_url}}"
    },
    "headline": "{{title}}",
    "image": "{{meta_image.url}}",
    "author": {
      "@type": "Article",
      "name": "Tropilite Foods Pvt. Ltd."
    },
    "publisher": {
      "@type": "Organization",
      "name": "",
      "logo": {
        "@type": "ImageObject",
        "url": ""
      }
    },
    "datePublished": ""
  }
</script>
