{% load static %}
{% if random_4_recipes or random_1_recipes %}
<section class="book">
  <!-- <h1 class="chef-head"><span>C</span><span>h</span><span>e</span><span>f</span><span>'</span><span>s</span></h1> -->
  <h2 class="chef-head h1">Chef's</h2>
  <div class="book-galary">
    {% if random_1_recipes %}
    {% for recipe in random_1_recipes %}
    <div class="gal-1">
      {% if recipe.video %} 
      <video autoplay muted loop >
        <source  src="{{recipe.video.url}}" type="video/mp4">
       
      </video>
      {% elif recipe.image %}
      <img loading='lazy' src="{{recipe.image.url}}" alt="{{recipe.heading}}" loading='lazy' />
      {% endif %} 
      <div class="inner-detail inner_1">
        <p>hightlighted recipe</p>
        <p class='h4' style="cursor: pointer" onclick="window.location.href='/recipes/{{recipe.slug}}'">{{recipe.heading}} {%if recipe.sub_heading%}
          {{recipe.sub_heading}}
          {%endif%}</p>
       
          {% if recipe.tags %}
        {% if recipe.tags.all %}
        <div class="inner-span">
          {% for tag in recipe.tags.all|slice:":2" %}
          {% if forloop.counter < 3 %}
          <a href="/recipes?tag={{tag.slug}}">{{tag.name}}</a>
          {% endif %} 
          {%endfor%}
        </div>
        {% endif %} 
        {% endif %} 
       
        {% if recipe.prep_time or recipe.created_at %}
        <h5>
          <i class="fa-solid fa-calendar-days" style="color: #ffffff"></i> {{ recipe.created_at|date:"M d, Y" }}
          &nbsp;&nbsp;&nbsp;
          {% if recipe.prep_time %}
          <i class="fa-regular fa-clock" style="color: #ffffff"></i> {{recipe.prep_time}}
          {% endif %} 
        </h5>
        {% endif %} 
        <a class="view-recipe" href='/recipes/{{recipe.slug}}'>view full recipe</a>
      </div>
    </div>
    {% endfor %}
    {% endif %} 
    {% if random_4_recipes %}
    {% for recipe in random_4_recipes %}
    <div class="gal-{{ forloop.counter|add:1 }}">
      {% if recipe.image %} 
      <img loading='lazy' src="{{recipe.image.url}}" alt="{{recipe.heading}}" loading='lazy' />
      {%endif%}
      <div class="inner-detail inner_2">
        <p style="cursor: pointer" onclick="window.location.href='/recipes/{{recipe.slug}}'">{{recipe.heading}} {%if recipe.sub_heading%}
          {{recipe.sub_heading}}
          {%endif%}</p>
        {% if recipe.tags %}
        {% if recipe.tags.all %}
        <div class="inner-span">
          {% for tag in recipe.tags.all|slice:":2" %}
          {% if forloop.counter < 3 %}
          <a href="/recipes?tag={{tag.slug}}">{{tag.name}}</a>
          {% endif %} 
          {%endfor%}
        </div>
        {% endif %} 
        {% endif %} 
        {% if recipe.prep_time or recipe.created_at %}
        <h5>
          <i class="fa-solid fa-calendar-days" style="color: #ffffff"></i> {{ recipe.created_at|date:"M d, Y" }}
          &nbsp;&nbsp;&nbsp;
          {% if recipe.prep_time %}
          <i class="fa-regular fa-clock" style="color: #ffffff"></i> {{recipe.prep_time}}
          {% endif %} 
        </h5>
        {% endif %} 
        <a class="view-recipe" href='/recipes/{{recipe.slug}}'>view full recipe</a>
      </div>
    </div>
    {%endfor%}
    
    
   
    {% endif %}
  </div>

  <a href="/recipes" class="cta">
    <span>VIEW MORE</span>
    <svg width="13px" height="10px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </a>
</section>
{% endif %}


