{% load static %}
<section class="master-piece">
    <div class="master-div piece_div">
        <h2 class="h1">Masterpiece</h2>
        <p class='h23'>find tropolite sellers near you</p>
        <div  class='location_class'>
            <p class='h23'>enter your pin-code</p>
            <div>
                <label style="position: absolute; visibility: hidden;" for="pincode">pincode</label>
                <input type="text" id="pincode" pattern="\d{6}" maxlength="6" placeholder="ex. 121003">
                <button href="JavaScript:void(0)" aria-label='dealer-locator'   id='arrow-text' class="submit"><svg width="13px" height="10px" viewBox="0 0 13 10">
                    <desc>this is a arrow symbol</desc>
                        <path d="M1,5 L11,5"></path>
                        <polyline points="8 1 12 5 8 9"></polyline>
                    </svg><span class="visually-hidden" for='arrow-text'> naviate to the dealer-locator</span></button>
            </div>
        </div>
    </div>
    <div>
        <img loading='lazy' class="desk" src="{% static 'front/assets/chef-img.webp' %}" alt="find tropolite seller near you" title="find tropolite seller near you"  />
        <img loading='lazy' class="mobile" src="{% static 'front/assets/chef-img-mobile.webp' %}" alt="find tropolite seller near you" title="find tropolite seller near you"  >
    </div>
</section>

<script>
   

    function updateBakeryLocatorLink() {
        var pincodeInput = document.getElementById('pincode');
        var pincodeValue = pincodeInput.value;
        var bakeryLocatorLink = document.getElementById('arrow-text');
        
        if (pincodeValue) {
            window.location.href = '/dealer-locator?pin_code=' + pincodeValue + '#location-list';
        } else {
            alert('Please enter a pin code.');
        }
    }
    


    if ($('#pincode').val().length === 6) {            
        $('.submit').addClass('sub-on');
        $('.submit > svg').css('right', '0%');
    } 

    $(document).ready(function(){
let inputValue = '';
    
        $('#pincode').on('input', function() {          
          $(this).val(function(index, value) {
            return value.replace(/\D/g, '');
          });              
          
            inputValue = $(this).val();
            if (inputValue.length === 6) {            
                $('.submit').addClass('sub-on');
                $('.submit > svg').css('right', '0%');
            } else {
                if ($('.submit').hasClass('sub-on')) {
                    $('.submit').removeClass('sub-on');            
                }
                $('.submit > svg').css('right', '-100%');
            }
        });
    
        $('#arrow-text').click(function(){
            if(inputValue.length === 6){
                updateBakeryLocatorLink();
            }
        });
        $('#pincode').keypress(function(event) {            
            if (event.which === 13) {
                if(inputValue.length === 6){
                updateBakeryLocatorLink();
                }
            }
        });        
      });

            
    
</script>