{% load static %}
<section class="master-piece2 master-piece bakery-locator-master">
    <div class="master-div  piece_div">
        <h2 class="h1">Masterpiece</h2>
        <h3>find tropolite sellers near you</h3>
        <div  class='location_class'>
            
        </div>
    </div>
    <div class='master-img-mobile'>
        <img class="desk" src="{% static 'front/assets/headChef.webp' %}" alt="find tropolite seller near you" title="find tropolite seller near you"  />
        <img class="mobile" src="{% static 'front/assets/chef-img-mobile.webp' %}" alt="find tropolite seller near you" title="find tropolite seller near you"  >
    </div>
</section>
