{% load static %}
<section class="deals">
    <div class='deals_div'>
        <h2 class="headingFont big-h1">Deals</h2>

        <button  class="cta open_enquire">

            <span>Order in Bulk</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </div>
    <!-- <canvas></canvas>
    <img class="" src="{% static 'front/assets/side-ways.jpg' %}" alt="" /> -->
    <img loading='lazy' class="desk" src="{% static 'front/assets/deals-tropolite.webp' %}" alt="deals of the day" title="deals of the day">
    <img loading='lazy' class="mobile" src="{% static 'front/assets/footer-truck-mobile.webp' %}" alt="tropolite droolilng" title="tropolite droolilng">

    <!-- <a href="#" class="cta"> -->

   
</section>
