{% extends "front/base.html" %}{% block content %} {% load static %}

{% include "front/include/breadcrumb.html" %}

  <section class="bakery head_anim">    
    <h1> {% if category_data.heading %}
       {{ category_data.heading }} {% else %} {{ category_data.name }} {% endif%}</h1>
    <div>
      {% if category_data.banner_video_embed_code %}      
        <div class="bakery-video-cont">  
          {{category_data.banner_video_embed_code|safe}}
        </div>      
      {% elif category_data.banner_video %}
      <div class="bakery-video-cont">
      <video muted autoplay loop>
        <source src="{{ category_data.banner_video.url }}" type="video/mp4">
      </video>
      </div>
      {%elif category_data.banner_image %}
      <div class="bakery-video-cont"><img src="{{ category_data.banner_image.url }}" alt="{{category_data.name}}"   title="{{category_data.name}}"/></div>
      {%endif%}
      <h2 style='font-size:1.5rem; font-family:karin; margin-top:1rem;'>{% if category_data.description_heading %}{{category_data.description_heading}}{%else%}{{category_data.name}}{%endif%}</h2>
        <div class="indulge-sec-div">
          {% if category_data.description %}
          <div class="">
              <p>
                {{ category_data.description |safe }}
              </p>
            </div>
          {% endif %}
            {% if category_data.right_description %}
            <div class="">
              <p>
                {{  category_data.right_description |safe }}
              </p>
            </div>
            {% endif %}
          </div>
      </div>
      <a href="/all-products/{{ category_data.slug }}" class="cta category-btn">
        <span>EXPLORE PRODUCTS</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
  </section>
  <section class="application short_para_anim head_anim">
    <h3>{{ category_data.subcategory_sec_heading }}</h3>
    <h2 class="h1">{{ category_data.subcategory_sec_subheading }}</h2>
    <p class="karine-font">{{ category_data.subcategory_sec_short_des }}</p>
    <div class="apps">

      {% if subcategory_list %}
        {% for list in subcategory_list %}
          <div class="app-maindiv app-odd">
            <div class="app-item1 app-div">
              {% if list.video %}
                <video id="video" muted autoplay loop>
                  <source src="{{ list.video.url }}" type="video/mp4" />
                </video>
                {% else %} 
                {% if list.list_image %}
                <a href="/{{ category_data.slug }}/{{ list.slug }}"><img loading='lazy' src="{{ list.list_image.url }}" alt="{{ list.slug }}" title="{{ list.slug }}" /></a>
                {% else %}
                <a href="/{{ category_data.slug }}/{{ list.slug }}"><img loading='lazy' src="{% static 'front/assets/noImage.webp' %}" alt="{{ list.slug }}" title="{{ list.slug }}" /></a>
                {% endif %} 
                {% endif %}
            </div>
            <div class="app-item2 app-div">
            <h3>{{ list.heading }}</h3>
            <div class="list_anim">
              {{ list.short_description |safe }}
            </div>
            <a href="/{{ category_data.slug }}/{{ list.slug }}" class="cta">
              <span>EXPLORE PRODUCTS</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
          </div>
           
            
      </div>
        {% endfor %}
      {% endif %}
      
      
    </div>
  </section>
  
  {% include "front/include/secret_book.html" %}

  {% if category_data.bootom_image or category_data.bootom_description %}
  <section class="food">
    {% if category_data.bootom_image %}
    <div><img loading='lazy' src="{{category_data.bootom_image.url}}" alt="food-img" alt="food-img" title="food-img"></div>
    {%endif%}
    {% if category_data.bootom_description %}
    <div class="para_anim">{{category_data.bootom_description|safe}}</div>
    {%endif%}
  </section>
  {%endif%}

  {% if products %} 
  <section class="product artisan_product">
  
     <div class="pro-1 para_anim head_anim">
         {% if category_data %}
         <h2 class="h1">All {{category_data.name}} Products</h2>
         {% else %}
         <h2 class="h1">All Products</h2>
         {% endif %}
         <h3>Endless Versatility, Endless Enchantments</h3>   
     </div>
    
    {% include "front/include/product_sub_cat_temp1.html" %}
 
 </section>
 {% endif %}

  {% include "front/include/deals.html" %}
  


{% endblock %}