{% extends "front/base.html" %}{% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'front/css/leadership.css' %}" />
{% endblock %} {% block content %} {% include "front/include/breadcrumb.html" %}
<section class="root_leader">
  <div class="ceo_quote">
    <div class="quote_box">
      <span><img src="{% static 'front/assets/inverted-coma.svg' %}" alt="invertes commas"
          title="invertes commas" /></span>
      <h2>
        Always have a constant desire to innovate in whatever you do, because if
        you don’t innovate, you stagnate.
      </h2>
      <span><img style="transform: rotateY(180deg); margin-top: -30px"
          src="{% static 'front/assets/inverted-coma.svg' %}" alt="inverteed commas 2"
          title="inverteed commas 2" /></span>
    </div>

    <div class="ceo_detail short_para_anim">
      <div class="ceo_signature">
        <h2 class="h1">- Puneet Davar</h2>
      </div>
      <p>Managing Director & CEO, Tropilite Foods</p>
    </div>
  </div>
  <div class="ceo_img">
    <img src="{% static 'front/assets/Layer/Layer 0.png' %}" alt=" photograph of the CEO of Tropolite"
      title=" photograph of the CEO of Tropolite" />
  </div>
</section>
<section class="leadership_product_process leading_purpose head_anim">
  <h1>Leading with a Purpose</h1>
  <h2 style='font-size:1.5rem;font-family:karin;'>THAT EXTENDS BEYOND PROFITS</h2>
  <p>
    Tropilite's leaders are driven by a collective aim to make healthy,
    affordable and tasty food innovations accessible across India. Through their
    leadership, Tropolite continues to find customized solutions for the Bakery,
    Food Service and Dairy industries, contributing to the broader culinary
    landscape.
  </p>
  <div class="leading_div">
    <div>
      <div class="Leading-img-div">
        <img loading="lazy" src="{% static 'front/assets/GS-Davar.webp' %}" alt="Late Dr.GS Davar photograph"
          title="Late Dr.GS Davar photograph" />
      </div>
      <div class="Leading-text-div">
        <h3>Late Dr. G. S. Davar</h3>
        <p class="post-leader">Founder</p>
        <p>
          Dr. Davar was an accomplished food scientist who started his career in
          research in food science and technology after completing his
          post-graduation from Central Food Technology Research Institute
          (Mysore) and doctoral thesis from Germany that he completed on Carl
          Duisburg Scholarship.
        </p>
        <p>
          The company’s strong rooting in research and innovation lies in the
          vision and leadership of Late Dr. Davar who served as its Managing
          Director for more than three decades until his passing in 2016.
        </p>
      </div>
    </div>
    <div>
      <div class="Leading-img-div">
        <img loading="lazy" src="{% static 'front/assets/Meera-Davar.webp' %}" alt="Meera Davar photograph"
          title="Meera Davar photograph" />
      </div>
      <div class="Leading-text-div">
        <h3>Meera Davar</h3>
        <p class="post-leader">Chairperson</p>
        <p>
          Meera Davar is a guide, mentor and the force behind nurturing Tropilite since the very beginning in
          partnership with her husband, Late Dr. G.S. Davar. Under her able leadership, the company has successfully
          managed its transition from a family-promoted enterprise into a process-focused professional entity.
        </p>
        <p>
          She has always had a larger sense of purpose and holds an enormous capacity to almost effortlessly organize
          and manage different institutions besides her own enterprise. She has worked on multiple projects for social
          good. She has served as Director of the Central Social Welfare Board and has also made vital contributions as
          the Board Member of Jiwaji University and as a patron for All India Magneto Therapists Association.
        </p>
      </div>
    </div>
    <div>
      <div class="Leading-img-div">
        <img loading="lazy" src="{% static 'front/assets/Puneet.webp' %}" alt=" Mr Puneet Davar photograph"
          title=" Mr Puneet Davar photograph" />
      </div>
      <div class="Leading-text-div">
        <h3>Puneet Davar</h3>
        <p class="post-leader">Managing Director & CEO</p>
        <p>
          Puneet Davar is a qualified and proven hands-on chief executive with significant industry experience. He has
          led the company in an exemplary manner over the decades. Under his leadership, the company diversified into
          new lines of businesses including food services, probiotics and frozen ready-to-eat products. Puneet enjoys
          being in the market meeting customers as well as rolling up his sleeves to work together in developing new
          products with R&D team.

        </p>
        <p>
          With a keen sense of business acumen and a passion for culinary arts, he has propelled Tropolite to new
          trajectories in the food industry, including the successful development and scaling up of commercial
          production of bacterial cultures in India (unique and only company in India doing it). Under his guidance,
          Tropilite has expanded its reach and vision, aspiring to be an eminent food solutions provider worldwide.
        </p>
      </div>
    </div>
    <div>
      <div class="Leading-img-div">
        <img loading="lazy" src="{% static 'front/assets/Monica-Davar.webp' %}" alt=" Mrs  Monisha Davar photograph"
          title=" Mrs  Monisha Davar photograph" />
      </div>
      <div class="Leading-text-div">
        <h3>Monisha Davar</h3>
        <p class="post-leader">Director</p>
        <p>
          Monisha Davar, the visionary Director at Tropilite Foods, orchestrates the company's triumph through a blend
          of leadership acumen and a passion for culinary innovation. With an astute understanding of the food industry,
          Monisha steers the ship, navigating the dynamic landscape with strategic prowess.

        </p>
        <p>
          Her role as Director involves not just managing operations but sculpting a future where Tropilite Foods stands
          as a beacon of excellence. Monisha's dedication to quality and a keen eye for emerging trends in the food
          sector shapes the company's offerings, ensuring they resonate with the evolving tastes of consumers.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="leader_passion head_anim">
  <div class="Leader_title">
    <h3>Guided by Excellence</h3>
    <h2 class="h1">Fueled by Passion</h2>
  </div>
  <div class="leader-guide">
    <div class="guide-img">
      <img loading="lazy" src="{% static 'front/assets/all-employees.webp' %}" alt="group images of the leaders"
        title="group images of the leaders" />
    </div>
    <div class="guide-content para_anim">
      <div>
        <p>
          Our leadership team's collective vision is to inspire, innovate and
          enrich the culinary landscape. Their commitment to excellence
          permeates every aspect of our operations, from research to production
          and their passion is the driving force behind every culinary
          masterpiece we create. Under their helm, Tropilite has created an
          extensive distribution network of 600 exclusive channel.
        </p>
      </div>
      <div>
        <p>
          Partnering across India through which, it is serving customers across
          QSR’s, Bakeries, Hotels, Restaurants to Caterers and Dairy industry
          like Burger King, Swiggy, Amul, Mother Dairy, Vadilal, Monginis,
          Krispy Kreme, Dominos, Chillies, Taj hotels, Cafe Coffee Day, Costa
          Coffee, Haldiram’s, Walmart, Eat Fit, and the list goes on.
        </p>
      </div>
    </div>
  </div>
</section>

{% include "front/include/deals.html" %} {% endblock %}